<h3>Observer Details</h3>
<table class='widefat'>
	<tbody>
		<tr>
			<th>Observer: </th>
			<td>
				<div class='input-group'>
					<input type='text' class='observer_name form-control' id='observer_name' readonly="readonly" />
					<span class='input-group-addon observer-list-tooltip'>
						<span class='glyphicon glyphicon-list'></span>
					</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>